<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Flask</title>
  </head>
  <body>
    <h3>Create a User</h3>
    <form action="/formulario/" method="post">
      Nombre: <input type="text" name="nombre" /> 
      Apellido: <input type="text" name="apellido" />
      <input type="submit" value="create user" />
    </form>
  </body>
</html>