section{
    display: block;
    border: 1px solid red;
    width:50%;
    margin-left: 25%;
}

h1{
    text-align: center;
}

input{
    display: block;
    margin: 5px;
}
textarea{
    display: block;
    width: 60%;
    height: 40%;
    margin: 5px;
}
a{
    padding: 5px;
    display: block;
    text-align: center;
}